

img.intro {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}

div {
  border: 1px solid red;
  background-color: violet;
  size: 40px;
  text-align: center;
}

.highlight {
  color: violet;
  float: right;
}

body {
  font-size: 1.5em;
}